// .add_request {
//   background-size: cover;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   overflow: auto;
// }

.add-request {
  @include background();
  height: auto;

  &__container  {
    // @include flexCenter(column);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin: 20px;
    // background-color: red;
    // margin-top: 1000px;
    // height: 100%;
    // padding: 20px;
    // height: 100%;
    // max-height: 75%;
    // margin:auto;
    // height: auto;
    
    padding: 5px;

    @media screen and (min-width: 700px) {
      width: 700px;
    }
  }
  
  &__back-button {
    position: absolute;
    text-decoration: none;
    color: $color-black;
    // top: 20vh;
    // font-size: 15px;

    &:hover {
        color: $color-off-mid;
    }

    &__icon {
        font-size: 32px;
    }
}

  &__agree {
    color: red;
    font-weight: bold;
    font-size: 12px;
    display: inline;
  
    @media screen and (min-width: 700px) {
      font-size: 15px;
    }
  }

  &__disclaimer {
    height: 150px;

    @media screen and (min-width: 700px) {
      height: 200px;
    }
  }

  &__confirmation {
    @media screen and (min-width: 500px) {
      width: 500px;
    }

    &__button {
      // color: red;
      @media screen and (max-width: 500px) {
        width: 125px;
        font-size: 12px;
      }
    }
  }
}

.confirm_section_container{
  border-radius: 16px;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  // margin-top: 10vh; 
  // margin:auto;
  // overflow: auto; 
}

// .add_request_title {
//   color: black;
//   font-size: 24px; 

//   white-space: nowrap; 
//   margin-top: 20vh; 
//   margin-bottom: 10px;
//   order: -1;
// }