.appointment-block {
    background-color: $color-background-white;
    border-radius: 10px;
    border: solid $color-background-medium-grey 2px;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;
    @include flexCenter(row);
    @include card();
    

    &__info {
        width: 90%;

        &__row {
        @include flexCenter(row);
        width: 100%;
        justify-content: space-around;

        &__piece {
            @include flexCenter(row);

            &__label {
            font-weight: bold;
            margin-right: 5px;

            }
            &__data {

            }
        }
        }
    }

    &__detail {
        width: 10%;
        @include flexCenter(row);
        background-color: $color-background-black;
        height: 100%;
        padding: auto;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
        background-color: #1f1e1e;
        }
        color: white;
        text-decoration: none; 
    }
}