.appointment-block {
    // background-color: $color-white;
    // border-radius: 10px;
    // border: solid $color-medium-grey 2px;
    width: 100%;
    // height: 100px;
    margin-bottom: 2em;
    // @include flexCenter(row);
    

    &__info {
        // width: 90%;

        &__row {
        @include flexCenter(row);
        // width: 100%;
        justify-content: space-around;
        
        &__piece {
            @include flexCenter(row);
            justify-content: flex-start;
            padding-left: 5px;

            &__label {
                font-weight: bold;
                margin-right: 5px;
                font-size: 16px;
            }

            &__data {
                font-size: 14px;
            }
        }
        }
    }

    &__detail {
        @include flexCenter(row);
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-right: 5px;
        
        &__link {
            &__link {
                &__button {
                    &__text {
                        
                    }
                }
            }
        }

        &__window {
            height: 90%;
            width: 90%;
            padding: 15px;
        }
    }
}