.chat-room {
    // @include flexCenter(column);
    // height: 100vh;
    // width: 100vw;
    // background-color: $color-black;
    // background-image: url(../../public/tokyo.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 40%;
    // padding-top: 64px;

    @include background();

    width: 100vw;
    height: 100vh;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 700px) {
            width: 700px;
            height: 100%;
        }
    }

    &__video-container {
        width: 100%;
        padding: 5px;
        background-color: black;
        display: flex;
        flex-direction: row;
        gap: 5px;
        
        border-bottom: 2px solid $color-off-mid;

    }

    &__card {
        width: 100%;
        height: 50%;
    }

    &__video {
        width: 50%;
        
    }

    &__message__username {
        font-weight: bold;
    }

    &__message__timestamp {
        font-style: italic;
        font-size: 10pt;
    }

    &__message__content {
        font-size: 16pt;
    }
}

.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: black;
    gap: 10px;
    list-style-type: none;
    overflow-y: scroll;
}

.chatContainer::-webkit-scrollbar-track {
background-color: white;
}

.chatContainer::-webkit-scrollbar-thumb {
    background-color: rgb(109, 199, 240);
}

.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-room-message {
    position: relative;
}

.chat-room-text-input{
    width: 95%;
    height: 10%;
    margin:  10px;
    padding: 2px;
    align-self: center;
    justify-self: center;
    resize: none;
}

.chat-room-text-input:focus::placeholder {
    color: transparent;
  }



.messageContainer-rec {
    background-color: rgb(109, 199, 240);
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    word-wrap: break-word;
    width: fit-content;
    max-width: 70%;
    
}

.messageContainer-sent {
    background-color: $color-off-light;
    text-align: right;
    border-radius: 10px;
    padding: 12px;
    word-wrap: break-word;
    width: fit-content;
    float: right;
    max-width: 70%;
    
}

.ButtonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
}

.videoButton {
    width: 40%;
    height: 100%;
    color: white
}

.chat-room-send-button {
    width: 40%;
    height: 100%;
}