.dashboard-card {
  @include flexCenter(column);
  height: 100vh;
  width: 100vw;
  background-color: $color-background-black;
  background-image: url(../../public/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}
.dashboard-card-card  {
    @include flexCenter(column);
    @include card();
    width: 600px;
    padding: 20px;
    margin: 10px 0;
    background-color: #f8f8f8;

    p {
        font-size: 45px; 
        margin: 0;
        font-weight: bold;
    }
}
