.dashboard-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buttons-tab {
        display: flex;

        &__button {
            margin: 10px;
            padding: 5px 10px;
            background-color: lightgray;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }

    &__content {
        padding: 20px;
        border: 1px solid #ddd;
    }

    &__request, &__find {
        &__section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__buttons {
                display: flex;
                margin-bottom: 10px;

                &__button {
                    margin-right: 10px;
                    padding: 10px 15px;
                    background-color: lightblue;
                    border: 1px solid #ccc;
                    cursor: pointer;

                    &:hover {
                        background-color: blue;
                        color: white;
                    }
                }
            }

            &__status {
                margin-top: 15px;
            }
        }
    }
}

.profile-and-signout {
    position: absolute;
    top: 10px;
    right: 10px;

    &__button {
        margin-left: 10px;
    }
}