.dashboard {
  @include background();

  &__card {
    // @include flexCenter(column);
    padding: 20px;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 1200px) {
      width: 1200px;
      align-items: center;
    }

    &__role-content {
      // height: 75%;
      width: 100%;
      // order: 3;
      height: 100%;

      &__button-column {
        @include flexCenter(row);
        justify-content: space-evenly;
        text-decoration: none;

        width: 100%;
        // gap: 50px;
        padding: 10px;
        padding-top: 30px;

        &__link {
          text-decoration: none;

          &__button {
            @include flexCenter(column);
            width: 300px;
            // border-radius: 20px;
            
            &__title {
              @include flexCenter(row);
              gap: 10px;
              font-weight: bold;
              // height: 100%;
              font-size: 16px;
            }
            
            &__desc {
              font-size: 10px;
              // color: black;
            }
          }
        }

        @media screen and (max-width: 600px) {
          gap: 10px;
          &__link {
            &__button {
              width: 150px;
              // background-color: red;
              
              &__title {
                @include flexCenter(column);
              }
              
              &__desc {
                display: none;
              }
            }
          }
        }


      }

      &__list-title {
        @include flexCenter(row);
        justify-content: flex-start;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 20px;
      }

      &__appointment-list {
        // border: 1px solid black;
        @include flexCenter(column);
        justify-content: flex-start;
        padding: 10px;
        height: 500px;
        overflow-y: scroll;
      }
    }
  }
}
