.dashboard {
  @include flexCenter(column);
  height: 100vh;
  width: 100vw;
  background-color: $color-background-black;
  background-image: url(../../public/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;

  &__card {
    @include flexCenter(column);
    @include card();
    width: 600px;
    height: 600px;

    &__role-switch {
      border: 1px solid red;

      &__button {
        width: 200px;
      }
    }
  }
}

h1 {
  border: 1px solid red;
}