.delete-account{
    @include flexCenter(column);
    align-items: flex-start;
    height: 100vh;
    width: 100vw;

    &__container {
        padding-top: 64px;
        width: 100%;
        height: 100%;
        margin-left: 20px;
    }

    &__header {
        margin: 22px;
        margin-bottom: 130px;
    }

    &__form {
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__submit-button {
        margin-bottom: 12px;
    }

    &__profile-button {
        margin-top: 12px;
    }

    &__message {
        margin-bottom: 12px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

@media (min-width: 600px) {
    .delete-account__container {
        width: 600px;
    }
}