.edit-profile {
    @include background();
    // @include flexCenter(column);
    // align-items: center;
    // width: 100vw;
    // height: 100vh;
    // padding-top: 64px;
}

.edit-profile-container {
    padding: 10px;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 700px) {
        width: 400px;
        height: 700px;
        // background-color: red;
    }

    // background-color: $color-background-black;
    // background-image: url(../../public/tokyo.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 40%;

    // &__card {
    //     @include flexCenter(column);
    //     @include card();
    //     width: 600px;
    //     height: 600px; 
    // }

    &__back-button {
        position: absolute;
        // text-align: left;
        // top: 0px;
        // left: 10%;
        text-decoration: none;
        color: $color-black;

        &:hover {
            color: $color-off-mid;
        }

        &__icon {
            font-size: 32px;
        }
    }

    &__info {
        width: 100%;
        height: 100%;
        @include flexCenter(column);
        justify-content: space-around;
    }

    &__header {
        margin-top: 15px;
        // height: 20%;
        width: 100%;
        text-align: center;
    }
    // &__profile-pic {
    //     border-radius: 50%;
    //     border: 2px solid darkgray;
    //     width: 200px;
    //     height: 200px;
    //     margin-top: 12px;
    // }

    &__info-update {
        @include flexCenter(column);
        gap: 10px;
        // height: 80%;
        width: 100%;
        align-items: center;
        margin-top: 6px;
    }

    &__label {
        height: 7%;
        width: 90%;
        align-self: center;
        margin-left: 110px;
        margin-right: 70px;
        color: gray;
        font-size: 12px;
        margin-top: 6px;
    }
    
    &__input {
        width: 80%;
        // height: 50px;
        padding: 0;
        font-size: 100px;
        // background-color: red;
    }

    &__button-container {
        @include flexCenter(column);
        gap: 15px;

        &__button {
            width: 150px;
        }

        &__link {
            text-decoration: none;
        }
    }
    
    // &__button {
    //     margin: 6px;
    // }

    // &__profile-link {
    //     margin: 12px;
    // }
    // &__edit-profile-p {
    //     height: 10%;
    //     margin-left: 12px;
    // }

    

    // &__edit-profile-button {
    //     align-self: center;
    //     margin: 12px;
    //     font-size: 12px;
    //     width: 20%;
    //     height: 10%;
    // }
}

