.edit-profile {
    @include flexCenter(column);
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 64px;
}
.edit-profile-container {
    @include flexCenter(column);
    align-items: center;
    width: 100%;
    height: 100%;
    

    // background-color: $color-background-black;
    // background-image: url(../../public/tokyo.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 40%;

    // &__card {
    //     @include flexCenter(column);
    //     @include card();
    //     width: 600px;
    //     height: 600px; 
    // }

    &__header {
        margin-top: 15px;
        height: 20%;
        width: 100%;
        text-align: center;
    }
    &__profile-pic {
        border-radius: 50%;
        border: 2px solid darkgray;
        width: 200px;
        height: 200px;
        margin-top: 12px;
    }

    &__info-update {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        align-items: center;
        margin: 12px;
    }

    &__label {
        height: 20%;
        width: 90%;
        align-self: center;
        margin-left: 110px;
        margin-right: 30px;
        color: gray;
        font-size: 12px;
        margin-top: 6px;
    }
    
    &__input {
        width: 80%;
        margin: 16px;
    }
    
    &__button {
        margin: 12px;
    }

    // &__edit-profile-p {
    //     height: 10%;
    //     margin-left: 12px;
    // }

    

    // &__edit-profile-button {
    //     align-self: center;
    //     margin: 12px;
    //     font-size: 12px;
    //     width: 20%;
    //     height: 10%;
    // }
}

@media (min-width: 700px) {
    .edit-profile-container {
        width: 700px;
    }
}