.history {
    @include flexCenter(column);
    height: 100vh;
    width: 100vw;
    // background-color: $color-background-black;
    background-image: url(../../public/tokyo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;

    &__card {
        @include pageCard();

        &__header {
            @include flexCenter(column);
            font-weight: bold;
            font-size: 36px;
            // padding: 1em;
            height: 10%;
        }

        &__filter {
            height: 10%;
        }

        &__appointment-container {
            // border: 2px solid black;
            @include flexCenter(column);
            justify-content: flex-start;
            width: 100%;
            height: 80%;
            overflow-y: auto;
        }
    }
}