.history {
    @include background();

    &__card {
        height: 100%;
        width: 100%;
        background-color: white;
        @include flexCenter(row);
        align-items: flex-start;
        gap: 20px;
        padding: 20px;

        @media (max-width: 700px) {
            @include flexCenter(column);
            justify-content: flex-start;
            gap: 5px;
            padding: 0;
        }
        @media (min-width: 1000px) {
            width: 1000px;
        }

        &__back-button {
            position: absolute;
            text-decoration: none;
            color: $color-black;
            // font-size: 15px;

            &:hover {
                color: $color-off-mid;
            }

            &__icon {
                font-size: 32px;
            }
        }
        
        &__filter {
            // height: 20%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            // margin: 1em;

            &__header {
                @include flexCenter(column);
                font-weight: bold;
                font-size: 36px;
                // padding: 1em;
                padding-top: 10px;
                padding-bottom: 10px;
                // height: 5%;
                width: 100%;
            }

            &__button-container {
                // height: 50%;
                width: 100%;
                align-self: center;
                @include flexCenter(row);
                justify-content: space-evenly;
                // background-color: red;

                &__button {
                    // width: 25%;
                    width: 23%;
                    height: 50px;

                    @media (max-width: 600px) {
                        font-size: 8pt;
                    }
                }
            }

            &__search-bar-container {
                width: 100%;
                // height: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;

                &__search-bar {
                    width: 100%;
                    justify-content: center;
                    margin: 5px;
                }
            }
        }

        &__appointment-container {
            // border: 2px solid black;
            @include flexCenter(column);
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            // margin: 6px;
        }
    }
}



