.home {
    &__landing-page {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        &__video {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: right bottom;
        }
    
        &__header {
            color: white;
            justify-self: flex-start;
            width: 100%;
            z-index: 2;
            top: 10%;
            position: absolute;
            margin-top: 24px;
            text-align: center;
        }

        &__log-in-link {
            color: black;
            z-index: 2;
            top: 15%;
            position: absolute;
            left: 0%;
            margin-top: 6em;
        }
    }
}

