.home {
    width: 100vw;
    height: 100vh;

    &__landing-page {
        // position: relative;
        @include flexCenter(column);
        background-color: black;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        
        &__video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right bottom;
        }
    
        &__header {
            color: white;
            justify-self: center;
            width: 100%;
            height: 30%;
            font-size: 64pt;
            z-index: 2;
            top: 10%;
            position: absolute;
            margin-top: 24px;
            text-align: center;
        }

        &__log-in-link {
            color: black;
            z-index: 2;
            position: absolute;
            justify-self: center;
            margin-top: 200px;
        }
    }
}

@media (min-width: 700px) {
    .home__landing-page__header {
        width: 700px;
    }
}