@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin card() {
  background-color: $color-background-white;
  border-radius: 10px;
  // box-shadow: 1.5em 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

@mixin background() {
  @include flexCenter(column);
  height: 100vh;
  width: 100vw;
  background-color: $color-background-black;
  background-image: url(../../public/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}

@mixin pageCard() {
  background-color: $color-background-white;
  border-radius: 10px;
  justify-content: flex-start;
  // margin-top: 2em;
  // margin-bottom: 2em;
  width: 75%;
  height: 75%;
  @include flexCenter(column);
}

///////////////////////////////////////////////////////////////////////////

@mixin button($button-color) {
  border: solid black 1px;
  padding: 12px;
  border-radius: 12px;
  background-color: map-get($map: $button-color, $key: initial);
  font-weight: bold;
  color: map-get($map: $button-color, $key: text);
  cursor: pointer;
  // box-shadow: 1.5em 0.8rem 2rem rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: map-get($map: $button-color, $key: hover);
  }
}

// @mixin nav-bar() {
//   @include flexCenter(row);
//   justify-content: space-between;
//   background-color: $color-background-green;
//   width: 100%;
//   height: 80px;



//   &__title {
//     margin-left: 1em;
//     color: $color-text-white;
//     text-decoration: none;
//     font-size: 32px;
//     font-weight: bold;

//     // &.custom-link {
//     //   cursor: none;
//     // }
//   }

//   &__button {
//     @include flexCenter(row);
//     margin: 1em;
//     gap: 20px;
//   }
// }

@mixin text($font-size, $font-weight) {
  font-size: map-get($map: $font-sizes, $key: $font-size);
  font-weight: map-get($font-weights, $font-weight);
}