.navbar {
    // list-style-type: none;
    // margin: 0;
    // padding: 12px;
    // overflow: hidden;
    // top: 0;
    // font-size: 16px;
    // font-weight: normal;
    // line-height: 24px;
    // padding-bottom: 12px;
    // padding-top: 12px;
    // border-bottom-width: 0;
    border-style: solid;
    border-bottom-color: $color-off-mid;
    // box-sizing: border-box;
    
    background-color: black;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 10; 
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (min-width: 1000px) {
        @include flexCenter(row);
    }

    &__cont {
        @include flexCenter(row);
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @media screen and (min-width: 1000px) {
            width: 1000px;
        }
        
        &__left {
            &__link {
                text-decoration: none;

                &__button {
                    @include flexCenter(row);
                    gap: 10px;
                    padding: 8px 24px;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 20px;
                    
                    &__text {
                        font-weight: bold;
                        color: $color-white;

                        @media screen and (max-width: 1000px) {
                            display: none;
                        }
                    }
                }
            }
            
        }
    
        &__right {
            @include flexCenter(row);
            gap: 10px;
            // height: auto;
            // width: auto;
    
            &__sign-up {
                padding: 8px 24px;
                text-decoration: none;
                color: $color-dark-grey;
                font-weight: bold;
                border-radius: 20px;
        
                &:hover {
                    background-color: rgb(56, 56, 56);
                    color: $color-white;
                } 
            }
        
            &__log-in {
                padding: 8px 24px;
                text-decoration: none;
                background-color: $color-white;
                color: $color-black;
                font-weight: bold;
                border-radius: 20px;
                &:hover {
                    font-weight: bold;
                    transform: scale(1.1);
                    background-color: $color-white;
                    color: $color-black;
                }
            }
    
            &__avatar {
                @include flexCenter(row);
                justify-content: space-around;
                width: auto;
                height: 40px;
                padding-left: 15px;
                padding-right: 8px;
                border-radius: 20px;
    
                // text-decoration: none;
                background-color: $color-white;
                color: $color-black;
                font-weight: bold;
                // box-sizing: border-box;
    
                &:hover {
                    background-color: $color-light-grey;
                }
    
                &__first-name {
                    margin-right: 5px;
                }
    
                &__profile {
                    @include flexCenter(row);
                    text-decoration: none;
                    color: $color-black;
                    font-weight: 550;
                }
    
                &__dashboard {
                    @include flexCenter(row);
                    text-decoration: none;
                    color: $color-black;
                    font-weight: 550;
                }
    
                &__sign-out {
                    @include flexCenter(row);
                    text-decoration: none;
                    color: $color-black;
                    font-weight: 550;
                }
            }
    
            &__sign-out-window {
                @include flexCenter(column);
                gap: 15px;
                width: 300px;
                height: 150px;
    
                &__title {
                    @include flexCenter(row); 
                    font-weight: bold;
                    font-size: 20px;
                }
    
                // &__description {
                // }
    
                &__button {
                    @include flexCenter(row);
                    gap: 10px;
                }
            }
        }
    }
    
}