.navbar {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    height: 64px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom-width: 0;
    border-style: solid;
    border-bottom-color: #e2e2e2;
    z-index: 2002;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    @include flexCenter(row);
    justify-content: space-between;
    
    &__left {
        &__logo {
            padding: 8px 24px;
            text-align: center;
            text-decoration: none;
            color: $color-background-white;
            font-weight: bold;
            border-radius: 20px;
        }
    }


    &__right {
        @include flexCenter(row);
        gap: 10px;

        &__sign-up {
            padding: 8px 24px;
            text-align: center;
            text-decoration: none;
            color: $color-background-dark-grey;
            font-weight: bold;
            border-radius: 20px;
    
            &:hover {
                background-color: rgb(56, 56, 56);
                color: $color-background-white;
            } 
        }
    
        &__log-in {
            padding: 8px 24px;
            text-align: center;
            text-decoration: none;
            background-color: $color-background-white;
            color: $color-background-black;
            font-weight: bold;
            border-radius: 20px;
            &:hover {
                font-weight: bold;
                transform: scale(1.1);
            }
        }
    }





    &__avatar-navbar {
        height: 42px;
        width: 42px;
    }
    
    &__navbar-avatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
}