.profile {
  @include background();
//   height: 100vh;
//   width: 100vw;

//   background-color: $color-background-black;
//   background-image: url(../../public/tokyo.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 40%;
}

.profile-container {
    padding: 10px;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 700px) {
        width: 700px;
        height: 90%;
    }

    &__back-button {
        position: absolute;
        // text-align: left;
        // top: 0px;
        // left: 10%;
        text-decoration: none;
        color: $color-black;

        &:hover {
            color: $color-off-mid;
        }
    }

    &__info {
        @include flexCenter(column);
        // align-items: center;
        width: 100%;
        height: 100%;
        // margin-top: 64px;
    
    
        // @media screen and (min-width: 700px) {
        //     width: 400px;
        //     height: 700px;
        //     // background-color: red;
        // }
    }

    &__header {
        margin-top: 15px;
        height: 20%;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 700px) {
            font-size: 40px;
        }
    }

    // &__profile-pic {
    //     border-radius: 50%;
    //     border: 2px solid darkgray;
    //     width: 200px;
    //     height: 200px;
    //     margin-top: 12px;
    // }

    // &__pic-container {
    //     width: 100%;
    //     height: 20%;
    //     border: 1px solid green;
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    // }

    &__info-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
        align-items: center;
        margin: 6px;
        // gap: 10px;
    }

    &__label {
        height: 16px;
        width: 90%;
        align-self: center;
        margin-left: 30px;
        margin-right: 30px;
        color: gray;
        font-size: 14px;

        @media screen and (min-width: 700px) {
            font-size: 16px;
        }
    }

    &__profile-p {
        height: 15%;
        font-size: 24px;
        width: 90%;
        align-self: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;

        @media screen and (min-width: 700px) {
            font-size: 26px;
        }
    }

    &__button-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    &__edit-link {
        margin: 6px;
    }

    &__delete-link {
        margin: 6px;
    }

    &__password-link {
        margin: 6px;
    }

    &__profile-button {
        align-self: center;
        width: 200px;

        @media screen and (min-width: 700px) {
            width: 300px;
            font-size: 16px;
        }
    }
    
    &__delete-button {
        align-self: center;
        width: 200px;

        @media screen and (min-width: 700px) {
            width: 300px;
            font-size: 16px;
        }
    }
    
    &__password-button {
        align-self: center;
        width: 200px;

        @media screen and (min-width: 700px) {
            width: 300px;
            font-size: 16px;
        }
    }
}


