.profile-container {
    @include flexCenter(column);
    @include card();
    width: 600px;
    height: 600px;
    align-items: center;
}

.profile-header {
    order: 1;
    margin-top: 15px;
    height: 20%;
}

.profile-pic {
    order: 2;
    border-radius: 50%;
}

.profile-p {
    order: 2;
    height: 40%;
    align-self: center;
    margin-left: 12px;
}

.edit-link {
    order: 3;
    align-self: center;
    border: 1px solid black;
    margin: 12px;
    font-size: 12px;
    color: black;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

#edit-button {
    align-self: center;
}

.profile-button {
    order: 3;
    height: 20%;
    align-self: center;
    margin: 12px;
    font-size: 12px;
    width: 20%;
}