.profile-container {
    @include flexCenter(column);
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 64px;

    &__header {
        margin-top: 15px;
        height: 20%;
        width: 100%;
        text-align: center;
    }

    &__profile-pic {
        border-radius: 50%;
        border: 2px solid darkgray;
        width: 200px;
        height: 200px;
        margin-top: 12px;
    }

    // &__pic-container {
    //     width: 100%;
    //     height: 20%;
    //     border: 1px solid green;
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    // }

    &__info-container {
        display: flex;
        flex-direction: column;
        height: 80%;

        width: 80%;
        align-items: center;
        margin: 12px;
    }

    &__label {

        height: 16px;

        width: 90%;
        align-self: center;
        margin-left: 30px;
        margin-right: 30px;
        color: gray;
        font-size: 12px;
    }

    &__profile-p {

        height: 15%;

        width: 90%;
        align-self: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    &__button-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__edit-link {
        margin: 6px;
    }

    &__delete-link {
        margin: 6px;
    }

    &__password-link {
        margin: 6px;
    }
}

#profile-container__edit-button {
    align-self: center;
}

#profile-container__delete-button {
    align-self: center;
}

@media (min-width: 700px) {
    .profile-container {
        width: 700px;
    }
}