.profile {
  @include flexCenter(column);
  height: 100vh;
  width: 100vw;

  // background-color: $color-background-black;
  // background-image: url(../../public/tokyo.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 40%;

}