.review {
    @include background();
    // @include flexCenter(column);
    // width: 100vw;
    // height: 100vh;
    // padding-top: 64px;

    &__container {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;

        @media (min-width: 700px) {
            width: 700px;
        }

        @media screen and (max-width: 500px) {
            height: 100%;
            width: 100%;
            padding: 5px;
            // @include flexCenter(column);
            // justify-content: flex-start;
        }
    }

    &__header {
        width: 100%;
        height: 10%;
        text-align: center;
        margin-top: 12px;
    }

    &__question {
        width: 100%;
        text-align: center;
    }

    &__form {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    &__thumb-container {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__thumb-up {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__thumb-down {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin: 6px;
        width: 90%;
        align-self: center;
    }

    &__input {
        width: 90%;
        height: 50%;
        margin: 6px;
        align-self: center;
    }

    &__submit-button {
        width: 50%;
        align-self: center;
        margin-bottom: 12px;
    }

    &__cancel-link {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
}

