.update-appointment {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.update-appointment_container {
    background-color: white;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto; 
}


// .confirm_section_container{
//     border-radius: 16px;
//     flex-direction: column;
//     justify-content: center; 
//     align-items: center;
//     margin-top: 10vh; 
//     margin:auro;
//     overflow: auto; 
//   }