.update-password{
    // @include flexCenter(column);
    // align-items: center;
    // height: 100vh;
    // width: 100vw;
    // padding-top: 64px;
    @include background();

    &__container {
        padding: 10px;
        width: 100%;
        height: 100%;
    
        @media screen and (min-width: 700px) {
            width: 700px;
            height: 50%;
        }

        &__back-button {
            position: absolute;
            // text-align: left;
            // top: 0px;
            // left: 10%;
            text-decoration: none;
            color: $color-black;
    
            &:hover {
                color: $color-off-mid;
            }
    
            &__icon {
                font-size: 32px;
            }
        }

        &__info {
            @include flexCenter(column);
            justify-content: space-around;
            height: 100%;

            @media screen and (max-width: 700px) {
                @include flexCenter(column);
                justify-content: flex-start;
                gap: 20px;
                padding-top: 20px;
                // background-color: red;
            }

            &__header {
                @include flexCenter(row);
                // margin-top: 22px;
                // margin-bottom: 130px;
            }

            &__form {
                // margin: 10px 0;
                width: 80%;
                @include flexCenter(column);
                gap: 20px;

                &__input {
                    width: 100%;
                    // padding: 10px;
                    // border: 1px solid #ccc;
                    // border-radius: 5px;
                    // margin-bottom: 10px;
                }
            
                &__button-box {
                    @include flexCenter(column);
                    gap: 10px;
            
                    &__button {
                        width: 200px;

                        @media screen and (min-width: 700px) {
                            width: 300px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        
        &__confirm-window {
            @include flexCenter(column);
            gap: 15px;
            width: 300px;
            height: 150px;
    
            &__title {
                @include flexCenter(row); 
                font-weight: bold;
                font-size: 20px;
            }
    
            // &__description {
            // }
    
            &__button {
                @include flexCenter(row);
                gap: 10px;
            }
        }
    }




   

    // &__label {
    //     font-weight: bold;
    //     margin-bottom: 5px;
    // }

    // &__submit-button {
    //     margin-bottom: 12px;
    // }

    // &__profile-button {
    //     margin-top: 12px;
    // }

    // &__message {
    //     margin-bottom: 12px;
    // }
}
