$color-white: #fffffa;
$color-light-grey: #f3f3f3;
$color-medium-grey: #cfcfcf;
$color-dark-grey: #9c9b9b;
$color-black: #000000;
$color-off-dark: #483c33;
$color-off-light: #ffecd3;


$color-button-white: (
  "initial": #ffffff,
  "hover": #cccccc,
  "text": #000000,
);


$color-button-black: (
  "initial": #000000,
  "hover": #1f1e1e,
  "text": #ffffff,
);

$color-link-initial: blue;
$color-link-hover: #7e9ae6;
$color-text-white: #ffffff;

$font-sizes: (
  "regular": 14px,
  "medium": 18px,
  "large": 28px,
);
$font-weights: (
  "regular": 400,
  "medium": 550,
  "bold": 700,
);