* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.log-in__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.log-in__card__title {
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 32px;
}
.log-in__card__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
.log-in__card__form__box {
  justify-content: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  text-align: left;
}
.log-in__card__form__box__label {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
}
.log-in__card__form__box__input {
  padding: 1em;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.log-in__card__form__box__log-in-button {
  border: solid black 1px;
  padding: 12px;
  border-radius: 12px;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 2em;
  width: 100%;
}
.log-in__card__form__box__log-in-button:hover {
  background-color: #1f1e1e;
}
.log-in__card__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}
.log-in__card__sign-up__link {
  width: 100%;
  color: blue;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}
.log-in__card__sign-up__link:hover {
  color: #7e9ae6;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.sign-up__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-up__card__title {
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 32px;
}
.sign-up__card__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
.sign-up__card__form__box {
  justify-content: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.sign-up__card__form__box__label {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
}
.sign-up__card__form__box__input {
  padding: 1em;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.sign-up__card__form__box__sign-up-button {
  border: solid black 1px;
  padding: 12px;
  border-radius: 12px;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1.5em;
  width: 100%;
}
.sign-up__card__form__box__sign-up-button:hover {
  background-color: #1f1e1e;
}
.sign-up__card__log-in-linka {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: blue;
  font-weight: bold;
}
.sign-up__card__log-in-linka:hover {
  color: #7e9ae6;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
  width: 99vw;
}
.dashboard__card {
  padding: 20px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1000px) {
  .dashboard__card {
    width: 1000px;
    align-items: center;
  }
}
.dashboard__card__tab {
  height: 10%;
}
.dashboard__card__role-content {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
}
.dashboard__card__role-content__button-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  width: 40%;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column {
    height: 15%;
    width: 100%;
  }
}
.dashboard__card__role-content__button-column__paper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column__paper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
.dashboard__card__role-content__button-column__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.dashboard__card__role-content__button-column__link__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.dashboard__card__role-content__button-column__link__button__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column__link__button__title {
    font-size: 14px;
  }
}
.dashboard__card__role-content__button-column__link__button__desc {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column__link__button__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column {
    gap: 10px;
  }
  .dashboard__card__role-content__button-column__link__button {
    width: 100%;
  }
  .dashboard__card__role-content__button-column__link__button__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard__card__role-content__button-column__link__button__desc {
    display: none;
  }
}
.dashboard__card__role-content__appointment-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 60%;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__appointment-column {
    width: 100%;
    height: 85%;
  }
}
.dashboard__card__role-content__appointment-column__paper {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.dashboard__card__role-content__appointment-column__paper__list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 28px;
  padding: 10px;
  height: 8%;
}
.dashboard__card__role-content__appointment-column__paper__appointment-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 92%;
  overflow-y: scroll;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}

.profile-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 700px) {
  .profile-container {
    width: 400px;
    height: 700px;
  }
}
.profile-container__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.profile-container__back-button:hover {
  color: #4b89a4;
}
.profile-container__back-button__icon {
  font-size: 32px;
}
.profile-container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.profile-container__header {
  margin-top: 15px;
  height: 20%;
  width: 100%;
  text-align: center;
}
.profile-container__profile-pic {
  border-radius: 50%;
  border: 2px solid darkgray;
  width: 200px;
  height: 200px;
  margin-top: 12px;
}
.profile-container__info-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  align-items: center;
  margin: 6px;
}
.profile-container__label {
  height: 16px;
  width: 90%;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
  color: gray;
  font-size: 14px;
}
.profile-container__profile-p {
  height: 15%;
  font-size: 24px;
  width: 90%;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.profile-container__button-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.profile-container__edit-link {
  margin: 6px;
}
.profile-container__delete-link {
  margin: 6px;
}
.profile-container__password-link {
  margin: 6px;
}

#profile-container__edit-button {
  align-self: center;
  width: 200px;
}

#profile-container__delete-button {
  align-self: center;
  width: 200px;
}

#profile-container__password-button {
  align-self: center;
  width: 200px;
}

.add-request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
  height: auto;
}
.add-request__container {
  padding: 5px;
}
@media screen and (min-width: 700px) {
  .add-request__container {
    width: 700px;
  }
}
.add-request__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.add-request__back-button:hover {
  color: #4b89a4;
}
.add-request__back-button__icon {
  font-size: 32px;
}
.add-request__agree {
  color: red;
  font-weight: bold;
  font-size: 12px;
  display: inline;
}
@media screen and (min-width: 700px) {
  .add-request__agree {
    font-size: 15px;
  }
}
.add-request__disclaimer {
  height: 150px;
}
@media screen and (min-width: 700px) {
  .add-request__disclaimer {
    height: 200px;
  }
}
.add-request__confirmation {
  width: 90%;
}
@media screen and (min-width: 500px) {
  .add-request__confirmation {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .add-request__confirmation__button {
    width: 100px;
    font-size: 12px;
  }
}

.confirm_section_container {
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.find-request__block {
  height: 95%;
  width: 95%;
  padding: 10px;
}
@media screen and (min-width: 1000px) {
  .find-request__block {
    width: 1000px;
  }
}
@media screen and (max-width: 500px) {
  .find-request__block {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
}
.find-request__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.find-request__back-button:hover {
  color: #4b89a4;
}
.find-request__back-button__icon {
  font-size: 32px;
}
.find-request__map {
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 500px) {
  .find-request__map {
    width: 100%;
    height: 250px;
  }
}
.find-request__select-language {
  height: 40px;
}
.find-request__appointment {
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}

.edit-profile-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 700px) {
  .edit-profile-container {
    width: 400px;
    height: 700px;
  }
}
.edit-profile-container__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.edit-profile-container__back-button:hover {
  color: #4b89a4;
}
.edit-profile-container__back-button__icon {
  font-size: 32px;
}
.edit-profile-container__info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.edit-profile-container__header {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
.edit-profile-container__info-update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  margin-top: 6px;
}
.edit-profile-container__input {
  width: 80%;
  height: 50px;
  padding: 0;
  font-size: 100px;
}
.edit-profile-container__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.edit-profile-container__button-container__button {
  width: 150px;
}
.edit-profile-container__button-container__link {
  text-decoration: none;
}
.edit-profile-container__confirm-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  height: 150px;
}
.edit-profile-container__confirm-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.edit-profile-container__confirm-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.chat-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.chat-room__container {
  width: 100%;
  height: 100%;
}
.chat-room__video-container {
  width: 100%;
  background-color: black;
}
.chat-room__video {
  width: 50%;
}
.chat-room__message__username {
  font-weight: bold;
}
.chat-room__message__timestamp {
  font-style: italic;
  font-size: 10pt;
}
.chat-room__message__content {
  font-size: 16pt;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin: 0px;
  padding: 10px;
  background-color: white;
  gap: 10px;
  list-style-type: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-room-message {
  position: relative;
}

.chat-room-text-input {
  width: 100%;
  height: 60px;
  margin: 0px;
  resize: none;
}

.chat-room-send-button {
  height: 30px;
  width: 100%;
  justify-content: left;
  align-self: left;
  text-align: center;
}

.messageContainer-rec {
  background-color: #9F6BA0;
  text-align: left;
  border-radius: 10px;
  padding: 12px;
}

.messageContainer-sent {
  background-color: lightgray;
  text-align: right;
  border-radius: 10px;
  padding: 12px;
}

.appointment-block {
  width: 100%;
  margin-bottom: 2em;
  padding: 5px;
}
.appointment-block__grid {
  padding: 5px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid {
    padding: 15px;
  }
}
.appointment-block__grid__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}
.appointment-block__grid__logo__text {
  font-weight: bold;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__logo {
    font-size: 22px;
  }
}
.appointment-block__grid__date-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.appointment-block__grid__date-time__date {
  font-size: 18px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__date-time__date {
    font-size: 22px;
  }
}
.appointment-block__grid__date-time__time {
  font-size: 18px;
  display: none;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__date-time__time {
    display: initial;
    font-size: 22px;
  }
}
.appointment-block__grid__status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.appointment-block__grid__status__text {
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  border-radius: 3px;
}
.appointment-block__grid__status__text-requested {
  background-color: #cfcfcf;
  color: #000000;
}
.appointment-block__grid__status__text-accepted {
  background-color: #4b89a4;
  color: #fffffa;
}
.appointment-block__grid__status__text-completed {
  background-color: #061920;
  color: #fffffa;
}
.appointment-block__grid__status__text-cancelled {
  background-color: red;
  color: #fffffa;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__status__text {
    font-size: 22px;
  }
}
.appointment-block__grid__piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.appointment-block__grid__piece__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
  color: #838383;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__piece__label {
    font-size: 18px;
  }
}
.appointment-block__grid__piece__data {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__piece__data {
    font-size: 22px;
  }
}
.appointment-block__grid__location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.appointment-block__grid__location__icon {
  width: 30px;
}
.appointment-block__grid__location__text {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__location__text {
    font-size: 22px;
  }
}
.appointment-block__grid__last-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.appointment-block__grid__last-line__language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.appointment-block__grid__last-line__language__icon {
  width: 30px;
}
.appointment-block__grid__last-line__language__text {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__last-line__language__text {
    font-size: 22px;
  }
}
.appointment-block__grid__last-line__button__text {
  font-size: 12px;
}
@media screen and (min-width: 700px) {
  .appointment-block__grid__last-line__button__text {
    font-size: 18px;
  }
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.history__card {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
@media (max-width: 700px) {
  .history__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding: 0;
  }
}
@media (min-width: 1000px) {
  .history__card {
    width: 1000px;
  }
}
.history__card__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.history__card__back-button:hover {
  color: #4b89a4;
}
.history__card__back-button__icon {
  font-size: 32px;
}
.history__card__filter {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
@media screen and (max-width: 700px) {
  .history__card__filter {
    width: 100%;
  }
}
.history__card__filter__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.history__card__filter__button-container {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.history__card__filter__button-container__button {
  width: 47%;
  height: 50px;
}
@media (max-width: 600px) {
  .history__card__filter__button-container__button {
    font-size: 8pt;
  }
}
.history__card__filter__search-bar-container {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.history__card__filter__search-bar-container__search-bar {
  width: 100%;
  justify-content: center;
  margin: 5px;
}
.history__card__filter__clear-filter {
  padding: 5px;
}
.history__card__filter__clear-filter__button {
  width: 100%;
}
.history__card__appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  padding: 8px;
  height: 100%;
  overflow-y: scroll;
}
@media screen and (max-width: 700px) {
  .history__card__appointment-container {
    width: 100%;
  }
}

.appointment-detail {
  width: 350px;
  height: 750px;
  padding: 15px;
}
@media screen and (min-width: 700px) {
  .appointment-detail {
    width: 600px;
  }
}
.appointment-detail__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 20px;
}
.appointment-detail__header__title {
  font-weight: bold;
  font-size: 20px;
}
.appointment-detail__header__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}
.appointment-detail__disclaimer-modal {
  height: 500px;
  width: 350px;
  overflow-y: auto;
  padding: 10px;
}
.appointment-detail__disclaimer-modal__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}
.appointment-detail__disclaimer-modal__box__button {
  padding: 0;
}
.appointment-detail__complete-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 120px;
  padding: 15px;
}
.appointment-detail__complete-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.appointment-detail__complete-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.appointment-detail__accept-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  padding: 15px;
}
.appointment-detail__accept-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.appointment-detail__accept-modal__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.appointment-detail__accept-modal__agreement__check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.appointment-detail__accept-modal__agreement__check__link {
  text-decoration: underline;
  color: #061920;
}
.appointment-detail__accept-modal__agreement__note {
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
}
.appointment-detail__accept-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.appointment-detail__cancel-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 120px;
  padding: 15px;
}
.appointment-detail__cancel-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.appointment-detail__cancel-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.appointment-detail__content {
  overflow-y: auto;
  height: 700px;
  padding-right: 10px;
}
.appointment-detail__content__data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.appointment-detail__content__data__label {
  font-size: 14px;
  color: #838383;
}
.appointment-detail__content__data__content {
  font-size: 18px;
  font-weight: bold;
}
.appointment-detail__content__button {
  width: 160px;
  font-size: 11px;
}
.appointment-detail__content__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.appointment-detail__content__primary__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.appointment-detail__content__primary__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.appointment-detail__content__user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.appointment-detail__content__user__block {
  width: 50%;
}
.appointment-detail__content__user__block__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #838383;
  margin-bottom: 5px;
}
.appointment-detail__content__review {
  width: 100%;
}
.appointment-detail__content__review__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #838383;
}
.appointment-detail__content__review__user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.appointment-detail__content__review__user__block {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100px;
  gap: 5px;
}
.appointment-detail__content__review__user__block__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #838383;
  margin-bottom: 5px;
}
.appointment-detail__content__review__user__block__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 20px;
  margin-bottom: 5px;
}
.appointment-detail__content__review__user__block__note {
  overflow: visible;
  overflow-wrap: break-word;
  width: 140px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.home__landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.home__landing-page__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
}
.home__landing-page__header-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  color: white;
  justify-self: center;
  width: 100%;
  height: 30%;
  top: 10%;
  position: absolute;
  margin-top: 24px;
}
@media screen and (max-width: 500px) {
  .home__landing-page__header-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    top: 20%;
  }
}
.home__landing-page__header-group__text {
  font-size: 64pt;
  z-index: 2;
  text-align: center;
}
.home__landing-page__log-in-link {
  color: black;
  z-index: 2;
  position: absolute;
  justify-self: center;
  margin-top: 200px;
}

@media (min-width: 700px) {
  .home__landing-page__header {
    width: 700px;
  }
}
.update-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.update-password__container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .update-password__container {
    width: 400px;
    height: 400px;
  }
}
.update-password__container__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.update-password__container__back-button:hover {
  color: #4b89a4;
}
.update-password__container__back-button__icon {
  font-size: 32px;
}
.update-password__container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .update-password__container__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
  }
}
.update-password__container__info__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.update-password__container__info__form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.update-password__container__info__form__input {
  width: 100%;
}
.update-password__container__info__form__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.update-password__container__info__form__button-box__button {
  width: 150px;
}
.update-password__container__confirm-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  height: 150px;
}
.update-password__container__confirm-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.update-password__container__confirm-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.delete-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.delete-account__container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .delete-account__container {
    width: 500px;
    height: 350px;
  }
}
.delete-account__container__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.delete-account__container__back-button:hover {
  color: #4b89a4;
}
.delete-account__container__back-button__icon {
  font-size: 32px;
}
.delete-account__container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .delete-account__container__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
  }
}
.delete-account__form {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.delete-account__label {
  font-weight: bold;
  margin-bottom: 5px;
}
.delete-account__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.delete-account__button {
  width: 250px;
}
.delete-account__message {
  margin-bottom: 25px;
}
.delete-account__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.delete-account__confirm-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  height: 150px;
}
.delete-account__confirm-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.delete-account__confirm-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.update-appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
  width: 98%;
  height: auto;
}

.update-appointment__container {
  padding: 5px;
}
@media screen and (min-width: 700px) {
  .update-appointment__container {
    width: 700px;
  }
}
.update-appointment__container__back-button {
  position: absolute;
  text-decoration: none;
  color: #000000;
}
.update-appointment__container__back-button:hover {
  color: #4b89a4;
}
.update-appointment__container__back-button__icon {
  font-size: 32px;
}
.update-appointment__container__confirm-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  height: 150px;
}
.update-appointment__container__confirm-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.update-appointment__container__confirm-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 8vh;
  width: 100vw;
}
.review__container {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .review__container {
    width: 700px;
  }
}
@media screen and (max-width: 500px) {
  .review__container {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
}
.review__header {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 12px;
}
.review__question {
  width: 100%;
  text-align: center;
}
.review__form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.review__thumb-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.review__thumb-up {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.review__thumb-down {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.review__label {
  margin: 6px;
  width: 90%;
  align-self: center;
}
.review__input {
  width: 90%;
  height: 50%;
  margin: 6px;
  align-self: center;
}
.review__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.review__button__submit-button {
  align-self: center;
  margin-bottom: 12px;
}
.review__button__submit-button__text {
  width: 250px;
}
.review__button__cancel-link {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-decoration: none;
}
.review__button__cancel-button__text {
  width: 250px;
}

.navbar {
  border-style: solid;
  border-bottom-color: #4b89a4;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.navbar__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .navbar__cont {
    width: 1000px;
  }
}
.navbar__cont__left__link {
  text-decoration: none;
}
.navbar__cont__left__link__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}
.navbar__cont__left__link__button__text {
  font-weight: bold;
  color: #fffffa;
}
@media screen and (max-width: 1000px) {
  .navbar__cont__left__link__button__text {
    display: none;
  }
}
.navbar__cont__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.navbar__cont__right__sign-up {
  padding: 8px 24px;
  text-decoration: none;
  color: #838383;
  font-weight: bold;
  border-radius: 20px;
}
.navbar__cont__right__sign-up:hover {
  background-color: rgb(56, 56, 56);
  color: #fffffa;
}
.navbar__cont__right__log-in {
  padding: 8px 24px;
  text-decoration: none;
  background-color: #fffffa;
  color: #000000;
  font-weight: bold;
  border-radius: 20px;
}
.navbar__cont__right__log-in:hover {
  font-weight: bold;
  transform: scale(1.1);
  background-color: #fffffa;
  color: #000000;
}
.navbar__cont__right__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: 40px;
  padding-left: 15px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: #fffffa;
  color: #000000;
  font-weight: bold;
}
.navbar__cont__right__avatar:hover {
  background-color: #f3f3f3;
}
.navbar__cont__right__avatar__first-name {
  margin-right: 5px;
}
.navbar__cont__right__avatar__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__avatar__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__avatar__sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__sign-out-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  height: 150px;
}
.navbar__cont__right__sign-out-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.navbar__cont__right__sign-out-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */