* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  padding-top: 8vh;
  width: 100%;
}
.log-in__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.log-in__card__title {
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 32px;
}
.log-in__card__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
.log-in__card__form__box {
  justify-content: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  text-align: left;
}
.log-in__card__form__box__label {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
}
.log-in__card__form__box__input {
  padding: 1em;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.log-in__card__form__box__log-in-button {
  border: solid black 1px;
  padding: 12px;
  border-radius: 12px;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 2em;
  width: 100%;
}
.log-in__card__form__box__log-in-button:hover {
  background-color: #1f1e1e;
}
.log-in__card__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}
.log-in__card__sign-up__link {
  width: 100%;
  color: blue;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}
.log-in__card__sign-up__link:hover {
  color: #7e9ae6;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  padding-top: 8vh;
  width: 100%;
}
.sign-up__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-up__card__title {
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 32px;
}
.sign-up__card__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}
.sign-up__card__form__box {
  justify-content: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.sign-up__card__form__box__label {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight: 400;
}
.sign-up__card__form__box__input {
  padding: 1em;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.sign-up__card__form__box__sign-up-button {
  border: solid black 1px;
  padding: 12px;
  border-radius: 12px;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1.5em;
  width: 100%;
}
.sign-up__card__form__box__sign-up-button:hover {
  background-color: #1f1e1e;
}
.sign-up__card__log-in-linka {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: blue;
  font-weight: bold;
}
.sign-up__card__log-in-linka:hover {
  color: #7e9ae6;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  padding-top: 8vh;
  width: 100%;
}
.dashboard__card {
  padding: 20px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .dashboard__card {
    width: 1200px;
    align-items: center;
  }
}
.dashboard__card__role-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.dashboard__card__role-content__button-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column {
    height: auto;
  }
}
.dashboard__card__role-content__button-column__paper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column__paper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.dashboard__card__role-content__button-column__link {
  text-decoration: none;
}
.dashboard__card__role-content__button-column__link__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
.dashboard__card__role-content__button-column__link__button__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
}
.dashboard__card__role-content__button-column__link__button__desc {
  font-size: 10px;
}
@media screen and (max-width: 700px) {
  .dashboard__card__role-content__button-column {
    gap: 10px;
  }
  .dashboard__card__role-content__button-column__link__button {
    width: 150px;
  }
  .dashboard__card__role-content__button-column__link__button__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard__card__role-content__button-column__link__button__desc {
    display: none;
  }
}
.dashboard__card__role-content__appointment-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}
.dashboard__card__role-content__appointment-column__paper {
  width: 100%;
  padding: 10px;
}
.dashboard__card__role-content__appointment-column__paper__list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 28px;
  padding: 10px;
}
.dashboard__card__role-content__appointment-column__paper__appointment-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 100%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 64px;
}
.profile-container__header {
  margin-top: 15px;
  height: 20%;
  width: 100%;
  text-align: center;
}
.profile-container__profile-pic {
  border-radius: 50%;
  border: 2px solid darkgray;
  width: 200px;
  height: 200px;
  margin-top: 12px;
}
.profile-container__info-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  align-items: center;
  margin: 12px;
}
.profile-container__label {
  height: 16px;
  width: 90%;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
  color: gray;
  font-size: 12px;
}
.profile-container__profile-p {
  height: 15%;
  width: 90%;
  align-self: center;
  margin-left: 30px;
  margin-right: 30px;
}
.profile-container__button-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-container__edit-link {
  margin: 6px;
}
.profile-container__delete-link {
  margin: 6px;
}
.profile-container__password-link {
  margin: 6px;
}

#profile-container__edit-button {
  align-self: center;
}

#profile-container__delete-button {
  align-self: center;
}

@media (min-width: 700px) {
  .profile-container {
    width: 700px;
  }
}
.find-request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../../public/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}
.find-request__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.find-request__card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 36px;
  height: 10%;
}
.find-request__card__filter {
  height: 10%;
}
.find-request__card__map-container {
  width: 90%;
  height: 50%;
}
.find-request__card__appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30%;
  overflow-y: auto;
}
.find-request__card__appointment-container__appointment {
  border: 1px solid black;
}

.edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 64px;
}

.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.edit-profile-container__header {
  margin-top: 15px;
  height: 20%;
  width: 100%;
  text-align: center;
}
.edit-profile-container__profile-pic {
  border-radius: 50%;
  border: 2px solid darkgray;
  width: 200px;
  height: 200px;
  margin-top: 12px;
}
.edit-profile-container__info-update {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  align-items: center;
  margin-top: 6px;
}
.edit-profile-container__label {
  height: 20%;
  width: 90%;
  align-self: center;
  margin-left: 110px;
  margin-right: 30px;
  color: gray;
  font-size: 12px;
}
.edit-profile-container__input {
  width: 80%;
  margin: 12px;
}
.edit-profile-container__button {
  margin: 6px;
}
.edit-profile-container__profile-link {
  margin: 6px;
}

@media (min-width: 700px) {
  .edit-profile-container {
    width: 700px;
  }
}
.chat-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 64px;
}
.chat-room__container {
  width: 100%;
  height: 100%;
}
.chat-room__video-container {
  width: 100%;
  background-color: black;
}
.chat-room__video {
  width: 50%;
}
.chat-room__message__username {
  font-weight: bold;
}
.chat-room__message__timestamp {
  font-style: italic;
  font-size: 10pt;
}
.chat-room__message__content {
  font-size: 16pt;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin: 0px;
  padding: 10px;
  background-color: white;
  gap: 10px;
  list-style-type: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-room-message {
  position: relative;
}

.chat-room-text-input {
  width: 100%;
  height: 60px;
  margin: 0px;
  resize: none;
}

.chat-room-send-button {
  height: 30px;
  width: 100%;
  justify-content: left;
  align-self: left;
  text-align: center;
}

.messageContainer-rec {
  background-color: #9F6BA0;
  text-align: left;
  border-radius: 10px;
  padding: 12px;
}

.messageContainer-sent {
  background-color: lightgray;
  text-align: right;
  border-radius: 10px;
  padding: 12px;
}

.appointment-block {
  width: 100%;
  margin-bottom: 2em;
}
.appointment-block__info__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.appointment-block__info__row__piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5px;
}
.appointment-block__info__row__piece__label {
  font-weight: bold;
  margin-right: 5px;
}
.appointment-block__detail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../../public/tokyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}
.history__card {
  background-color: #fffffa;
  border-radius: 10px;
  justify-content: flex-start;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.history__card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 36px;
  height: 10%;
}
.history__card__filter {
  height: 10%;
}
.history__card__appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.appointment_detail_page {
  background-image: url("../../public/tokyo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.appointment_detail__card {
  background-color: white;
  width: 80%;
  max-height: 90vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: flex-start;
}

.appointment_detail__content {
  width: 80%;
  overflow-y: auto;
  margin-right: 10px;
}

.appointment_detail__id,
.appointment_detail__status,
.appointment_detail__title,
.appointment_detail__type,
.appointment_detail__client_firstname,
.appointment_detail__client_lastname,
.appointment_detail__client_profile_picture,
.appointment_detail__client_spoken_language,
.appointment_detail__interpreter_firstname,
.appointment_detail__interpreter_lastname,
.appointment_detail__interpreter_profile_picture,
.appointment_detail__interpreter_spoken_language,
.appointment_detail__location_name,
.appointment_detail__converted_date_time,
.appointment_detail__note,
.appointment_detail__review_client_rating,
.appointment_detail__review_client_note,
.appointment_detail__review_interpreter_rating,
.appointment_detail__review_interpreter_note {
  display: flex;
  align-items: center;
}
.appointment_detail__id .appointment_detail__label + *,
.appointment_detail__status .appointment_detail__label + *,
.appointment_detail__title .appointment_detail__label + *,
.appointment_detail__type .appointment_detail__label + *,
.appointment_detail__client_firstname .appointment_detail__label + *,
.appointment_detail__client_lastname .appointment_detail__label + *,
.appointment_detail__client_profile_picture .appointment_detail__label + *,
.appointment_detail__client_spoken_language .appointment_detail__label + *,
.appointment_detail__interpreter_firstname .appointment_detail__label + *,
.appointment_detail__interpreter_lastname .appointment_detail__label + *,
.appointment_detail__interpreter_profile_picture .appointment_detail__label + *,
.appointment_detail__interpreter_spoken_language .appointment_detail__label + *,
.appointment_detail__location_name .appointment_detail__label + *,
.appointment_detail__converted_date_time .appointment_detail__label + *,
.appointment_detail__note .appointment_detail__label + *,
.appointment_detail__review_client_rating .appointment_detail__label + *,
.appointment_detail__review_client_note .appointment_detail__label + *,
.appointment_detail__review_interpreter_rating .appointment_detail__label + *,
.appointment_detail__review_interpreter_note .appointment_detail__label + * {
  margin-left: 8px;
}

.appointment_detail__buttons button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.appointment_detail__buttons button:hover {
  background-color: #555;
}

.appointment_detail__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.home {
  width: 100vw;
  height: 100vh;
}
.home__landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.home__landing-page__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
}
.home__landing-page__header {
  color: white;
  justify-self: center;
  width: 100%;
  height: 30%;
  font-size: 64pt;
  z-index: 2;
  top: 10%;
  position: absolute;
  margin-top: 24px;
  text-align: center;
}
.home__landing-page__log-in-link {
  color: black;
  z-index: 2;
  position: absolute;
  justify-self: center;
  margin-top: 200px;
}

@media (min-width: 700px) {
  .home__landing-page__header {
    width: 700px;
  }
}
.update-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 64px;
}
.update-password__container {
  width: 100%;
  height: 100%;
  padding: 12px;
}
.update-password__header {
  margin-top: 22px;
  margin-bottom: 130px;
}
.update-password__form {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.update-password__label {
  font-weight: bold;
  margin-bottom: 5px;
}
.update-password__submit-button {
  margin-bottom: 12px;
}
.update-password__profile-button {
  margin-top: 12px;
}
.update-password__message {
  margin-bottom: 12px;
}
.update-password__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .update-password__container {
    width: 600px;
  }
}
.delete-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 64px;
}
.delete-account__container {
  width: 100%;
  height: 100%;
  padding: 12px;
}
.delete-account__header {
  margin-top: 22px;
  margin-bottom: 130px;
}
.delete-account__form {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.delete-account__label {
  font-weight: bold;
  margin-bottom: 5px;
}
.delete-account__submit-button {
  margin-bottom: 12px;
}
.delete-account__profile-button {
  margin-top: 12px;
}
.delete-account__message {
  margin-bottom: 12px;
}
.delete-account__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .delete-account__container {
    width: 600px;
  }
}
.navbar {
  border-style: solid;
  border-bottom-color: #483c33;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.navbar__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .navbar__cont {
    width: 1200px;
  }
}
.navbar__cont__left__logo {
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  color: #fffffa;
  font-weight: bold;
  border-radius: 20px;
}
.navbar__cont__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.navbar__cont__right__sign-up {
  padding: 8px 24px;
  text-decoration: none;
  color: #9c9b9b;
  font-weight: bold;
  border-radius: 20px;
}
.navbar__cont__right__sign-up:hover {
  background-color: rgb(56, 56, 56);
  color: #fffffa;
}
.navbar__cont__right__log-in {
  padding: 8px 24px;
  text-decoration: none;
  background-color: #fffffa;
  color: #000000;
  font-weight: bold;
  border-radius: 20px;
}
.navbar__cont__right__log-in:hover {
  font-weight: bold;
  transform: scale(1.1);
  background-color: #fffffa;
  color: #000000;
}
.navbar__cont__right__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: 40px;
  padding-left: 15px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: #fffffa;
  color: #000000;
  font-weight: bold;
}
.navbar__cont__right__avatar:hover {
  background-color: #f3f3f3;
}
.navbar__cont__right__avatar__first-name {
  margin-right: 5px;
}
.navbar__cont__right__avatar__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__avatar__dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__avatar__sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}
.navbar__cont__right__sign-out-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.navbar__cont__right__sign-out-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
}
.navbar__cont__right__sign-out-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */