// Import general items
@import './_resets';
@import './_variables';
@import './_mixins';

// CSS per page
@import './_log-in';
@import './_sign-up';
@import './_dashboard';
@import './_profile';
@import './_profile-components';
@import './_add-request';
@import './_find-request';
@import './_edit-profile';
@import './_chat-room';
@import './_appointment-block';
@import './_history';
@import './_appointment-detail-card';
@import './_appointment-detail';
@import './_home';
@import './update-password';
@import './delete-account';

//CSS Global Component
@import './_navbar';


// GLOBAL SCROLLING
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: black;
border-radius: 10px;
}